.test-view-container {
  width: 100%;
  margin-top: 85px;
  display: grid;
  column-gap: 20px;
  grid-template-columns: auto 360px;
}

.test-view-container-expanded {
  grid-template-columns: auto 40px;
}

.test-view-container-grade-only {
  grid-template-columns: 0px auto;
}

.test-view-container.grade-view {
  grid-template-columns: auto;
  width: min(980px, 100%);
  padding: 40px;
  margin: 0 auto;
}

.test-view-pdf {
  grid-column: 1;
}

.test-view-old-wrapper {
  padding: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min(100%, 700px);
  margin: 0 auto;
}

.test-view-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.test-view-button-container > * {
  margin: 0 10px;
}

.test-view-third-party-wrapper {
  display: grid;
  width: 100%;
  grid-template-rows: 44px auto;
  row-gap: 10px;
  height: 100%;
}

.test-view-third-party-wrapper > iframe {
  width: 100%;
  height: 100%;
}

.test-view-container:not(.grade-view) .test-view-grade {
  display: grid;
  grid-template-columns: 20px 20px auto;
  grid-column: 2;
}

.test-view-grade-collapser {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: calc(100vh - 155px);
}

.test-view-grade-collapser > * {
  background-color: #D5CBC4;
  display: inline-block;
  width: 20px;
}

.test-view-grade-collapser-edge {
  height: 100%;
  background-color: #D5CBC4;
  cursor: pointer;
}

.test-view-grade-tab {
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  z-index: 2;
  cursor: pointer;
}

.test-view-grade-tab-upper {
  height: 20px;
  position: relative;
  top: 10px;
  z-index: 1;
  transform: skewY(-45deg);
  cursor: pointer;
}

.test-view-grade-tab-lower {
  height: 20px;
  position: relative;
  bottom: 10px;
  z-index: 1;
  transform: skewY(45deg);
  cursor: pointer;
}

.test-view-container:not(.grade-view) .test-view-grade-container {
  padding-bottom: 65px;
  overflow-y: auto;
  height: calc(100vh - 155px);
}

.test-view-grade-hide-children > .grade-footer-aligner, .test-view-grade-show-all-children > .section-wrapper {
  display: none;
}

.test-view-change-button {
  position: fixed;
  z-index: 50;
  left: 10px;
  bottom: 10px;
  box-shadow: 0 0 10px -3px #181510;
}

.grade-view h1 {
  margin-bottom: 20px;
}

.test-view-button-container > a {
  color: #254E70 !important;
  text-decoration: underline !important;
  line-height: 1em;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

@media (max-width: 1050px) {

  :not(.test-view-third-party-wrapper) > .test-view-button-container {
    flex-direction: column;
  }

  :not(.test-view-third-party-wrapper) > .test-view-button-container > :not(:first-child) {
    margin-top: 10px;
  }

}

@media (max-width: 700px) {

  .test-view-container:not(.grade-view) .test-view-change-button {
    bottom: 55px;
  }

}