.test-view-container {
  width: 100%;
  margin-top: 85px;
  display: grid;
  column-gap: 20px;
  grid-template-columns: auto 320px;
}

.test-view-container.grade-view {
  grid-template-columns: auto;
  width: min(980px, 100%);
  padding: 40px;
  margin: 0 auto;
}

.test-view-pdf {
  grid-column: 1;
}

.test-view-old-wrapper {
  padding: 40px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 70%;
  margin: 0 auto;
}

.test-view-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.test-view-button-container > * {
  margin: 0 10px;
}

.test-view-third-party-wrapper {
  display: grid;
  width: 100%;
  grid-template-rows: 44px auto;
  row-gap: 10px;
  height: 100%;
}

.test-view-third-party-wrapper > iframe {
  width: 100%;
  height: 100%;
}

.test-view-container:not(.grade-view) .test-view-grade {
  height: calc(100vh - 175px);
  margin-bottom: 20px;
}

.test-view-change-button {
  position: fixed;
  z-index: 50;
  left: 10px;
  bottom: 10px;
  box-shadow: 0 0 10px -3px #181510;
}

.grade-view h1 {
  margin-bottom: 20px;
}