footer {
  width: 100%;
  color: #BFB8AD;
  text-align: center;
  font-size: 15px;
  background-color: #393E3B;
  padding: 20px
}

footer * {
  color: #BFB8AD !important;
}

footer a:hover {
  color: #EADEDA !important;
}

footer > :first-child {
  margin-top: 0;
}

@media (max-width: 800px) {

  footer {
    font-size: 14px;
  }

}