header {
  background-color: #37718E;
}

nav {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 0 20px !important;
}

.nav-link, .navbar-brand {
  color: #EADEDA !important;
  padding: 25px !important;
  line-height: 20px;
  height: 70px;
  background-color: #37718E !important;
  vertical-align: middle;
}

.nav-link:hover, .navbar-brand:hover {
  background-color: #2E607F !important;
}


@media (max-width: 800px) {
  
  nav {
    padding: 0;
    width: 100%;
  }

}