.question {
  text-align: right;
  height: 26px;
  vertical-align: middle;
  line-height: 26px;
  font-size: 20px;
}

.question > * {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  z-index: 2;
}

.question-background {
  position: absolute;
  left: 0;
  right: 0;
  height: 26px;
  z-index: 1;
  background-color: #E0D5CF;
}

.question-background-accent {
  background-color: #D5CBC4;
}

.question-select-highlight {
  position: absolute;
  left: 0;
  right: 0;
  height: 26px;
  z-index: 10;
  pointer-events: none;
}

.question-select-highlight.hovered {
  border: 2px solid #A2B1B8;
}

.question-select-highlight.active {
  border: 2px solid #648DA1;
}

.question-graded .question-divider {
  pointer-events: none;
}


.question-divider {
  height: 26px;
  vertical-align: middle;
  border-left: 2px solid #BFB8AD;

}

.question-number {
  margin-right: 5px;
  text-align: right;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.question-graded .question-number {
  pointer-events: none;
}

.question-text {
  width: 24px;
  height: 24px;
  font-weight: bold;
  padding: 0;
  border: 0;
  margin: 0;
  text-align: center;
  background: none;
  color: #181510;
  position: relative;
  z-index: 1;
  margin-bottom: 1px;
  user-select: none;
  -webkit-user-select: none;
  cursor: text;
}

.question-text::placeholder {
  color: #9F9B93;
}

.question-text:focus {
  outline: none;
  border: 2px solid #648DA1;
}

.question-graded > .question-text {
  color: #6C675F;
  pointer-events: none;
}

.question-saq {
  width: 60px;
  padding-right: 5px;
  text-align: right;
  font-family: 'Consolas', monospace;
  font-weight: bold;
}

.question-radio-selecter {
  width: 26px;
  height: 26px;
  padding: 1px;
  margin-top: -0.8px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.question-radio-selecter * {
  cursor: pointer;
}

.question-radio {
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 3px solid #181510;
  border-radius: 50%;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #181510;
  text-align: center;
  vertical-align: bottom;
  user-select: none;
  -webkit-user-select: none;
}

.question-radio-selected {
  background-color: #181510;
  color: #EADEDA;
}

.question-graded .question-radio-selecter {
  pointer-events: none;
}

.question-graded .question-radio {
  border-color: #6C675F;
  color: #6C675F;
  pointer-events: none;
}

.question-graded .question-radio-selected {
  background-color: #6C675F;
  color: #EADEDA;
}

.question-check {
  width: 24px;
  height: 24px;
  margin-left: 5px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  cursor: pointer;
}

.question-check-saq {
  width: 80px;
  text-align: left;
  margin-left: 10px;
}

.question-check-right {
  color: #65A46D;
  pointer-events: none;
}

.question-check-wrong {
  color: #8C3131;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  font-weight: bold;
  display: inline-block;
  position: relative;
  bottom: 2px;
  pointer-events: none;
  user-select: none;
  -webkit-user-select: none;
}