.score-summary-floating {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: min(940px, 100vw);
  max-height: 70vh;
  margin: 0 auto;
  padding-left: min(20px, calc(calc(100vw - 900px) / 2));
  padding-right: min(20px, calc(calc(100vw - 900px) / 2));
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 100;
  pointer-events: none;
}

.score-summary-block {
  margin-bottom: 40px;
}

.score-summary-tab {
  display: flex;
  position: relative;
  z-index: 6;
  pointer-events: auto;
}

.score-summary-tab > * {
  display: inline-block;
  background-color: #37718E;
  height: 45px;
  cursor: pointer;
}

.score-summary-tab-title {
  font-size: 25px;
  line-height: 25px;
  padding: 10px;
  user-select: none;
  -webkit-user-select: none;
  color: #EADEDA;
  z-index: 2;
}

.score-summary-tab-left, .score-summary-tab-right {
  width: 45px;
  position: relative;
  z-index: 1;
}

.score-summary-tab-left {
  transform: skewX(-45deg);
  left: 22.5px;
}

.score-summary-tab-right {
  transform: skewX(45deg);
  right: 22.5px;
}

.score-summary-scroll-wrapper {
  overflow-y: auto;
  pointer-events: auto;
}

.score-summary-floating .score-summary-scroll-wrapper {
  box-shadow: 0 0 20px -5px #181510;
}

.score-summary-body {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 2px 1fr;
  grid-template-rows: auto 2px auto 2px auto;
  gap: 20px;
}

.score-summary-floating .score-summary-body {
  position: relative;
  z-index: 5;
  background-color: #EADEDA;
  padding: 20px;
}

.score-summary-overall {
  grid-column: 1 / 4;
}

.score-summary-overall .grade-footer-score-main {
  font-size: 40px;
  line-height: 40px;
  width: 130px;
}

.score-summary-horizontal {
  grid-column: 1 / 4;
  border-top: 2px solid #B5AEA4;
}


.score-summary-horizontal.score-summary-horizontal-compact {
  display: none;
}

.score-summary-vertical {
  border-left: 2px solid #B5AEA4;
}

.score-summary-body .grade-footer-score:not(:first-child) {
  margin-top: 15px;
}

.score-summary-perfect .grade-footer-score-main, .score-summary-perfect .fas {
  color: #538D5C;
}

.score-summary-warn .grade-footer-score-main, .score-summary-warn .fas {
  color: #B76D38;
}

.score-summary-bad .grade-footer-score-main, .score-summary-bad .fas {
  color: #8C3131;
}

.score-summary-subscores-english, .score-summary-subscores-math {
  font-size: 20px;
}

@media (max-width: 550px) {

  .score-summary-body {
    grid-template-columns: 1fr;
    grid-template-rows: auto 2px auto auto 2px auto auto;
  }

  .score-summary-body > * {
    grid-column: 1;
  }
  
  .score-summary-vertical {
    display: none;
  }

  .score-summary-horizontal-compact {
    display: block;

  }

  .score-summary-math {
    grid-row: 6;
  }

  .score-summary-math, .score-summary-english {
    margin-bottom: 20px;
  }

  .score-summary-subscores-english {
    grid-row: 4;
  }

  .score-summary-row-5 {
    grid-row: 5;
  }

}