/* resets from https://dev.to/hankchizljaw/a-modern-css-reset-6p3. changes at the end. */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* fix bootstrap classes not showing up */

.alert-dismissible .close {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  padding: 1.25rem 1rem;
}

.modal-header .close {
  padding: 0.5rem 0.5rem;
  margin: -0.5rem -0.5rem -0.5rem auto;
}

.close {
  box-sizing: content-box;
  width: 1em;
  height: 1em;
  padding: 0.25em 0.25em;
  color: #000;
  background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  border: 0;
  border-radius: 0.25rem;
  opacity: 0.5;
}
.close:hover {
  color: #000;
  text-decoration: none;
  opacity: 0.75;
}
.close:focus {
  outline: 0;
  opacity: 1;
}
.close:disabled, .close.disabled {
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  opacity: 0.25;
}

.close > span {
  display: none;
}

/* default and simple styles */

body {
  background-color: #393E3B;
  width: 100%;
  height: 100vh;
  color: #181510;
  font-family: 'Helvetica Neue', 'Neue Helvetica', 'Arial', sans-serif;
  font-size: 20px;
  font-weight: 500;
}

#root {
  background-color: #EADEDA;
}

main {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 40px;
}

p, h1, h2, h3, h4, h5, h6, .seperate, ul {
  line-height: 1.2;
  margin-top: 1em;
  margin-bottom: 0;
}

p:first-child, 
h1:first-child, 
h2:first-child, 
h3:first-child, 
h4:first-child, 
h5:first-child, 
h6:first-child, 
.seperate:first-child, 
ul:first-child {
  margin-top: 0;
}

h1 {
  font-weight: 700;
}

h2, h3, h4, h5, h6 {
  font-weight: 500;
  font-size: 36px;
}

a {
  color: #254E70;
  text-decoration: underline;
}

a:hover {
  color: #37718E;
}

.logo {
  font-family: 'Consolas', monospace;
}

.label {
  font-size: 15px;
  color: #BBBBBB;
}

.btn {
  outline: none !important;
  box-shadow: none !important;
  font-size: 20px;
}

.btn-main {
  background-color: #37718E;
  color: #EADEDA;
}

.btn-main:hover {
  background-color: #2E607F;
  color: #EADEDA;
}

.btn-grade {
  background-color: #65A46D;
  color: #EADEDA;
}

.btn-grade:hover {
  background-color: #538D5C;
  color: #EADEDA;
}

.btn-sub {
  background-color: #DED3CD;
}

.btn-sub:hover {
  background-color: #D5CBC4;
}

.form-check-input {
  box-shadow: none !important;
}

.form-check-input:checked {
  background-color: #2E607F;
  border-color: #2E607F;
}

.restricted::after {
  content: '®';
  font-size: 10px;
  vertical-align: super;
}

@media (max-width: 800px) {
  body {
    font-size: 16px;
  }
  
  main {
    padding: 20px;
    width: 100%;
  }
  
  h1 {
    font-size: 30px;
  }
  
  h2, h3, h4, h5, h6 {
    font-size: 24px;
  }
 
}